{% extends "base.html" %}
{% block title %}Category{% endblock %}
{% block content %}
<main>
  <section>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                    <p class="notice">{{ message }}</p>
            {% endfor %}
        {% endif %}
    {% endwith %} 
    <article>
        <header>
            <h2>All Categories</h2>
        </header>
        <ul>
            {% for post in data %}
            <li>{{ post[1] }} ({{ post[3] }})</li>
            {% endfor %}
        </ul>
    </article>
    <article>
      <header>
        <h2>Create New Category</h2>
      </header>
      <form method="post" action="{{ url_for("admin.categories") }}">
        <label>Name</label><input type="text" name="cat_name"/>
        <input type="submit" value="Create"/>
      </form>
    </article>
  </section>
</main>
{% endblock %}