{% extends "base.html" %}
{% block title %}Write a Post!{% endblock %}
{% block content %}
<main>
    <section>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                    <p class="notice">{{ message }}</p>
            {% endfor %}
        {% endif %}
        {% endwith %}  
        <article>
        <header>
            <h2>Write New Post</h2>
        </header>

        <form action="{{ url_for("admin.write_blog") }}" method="POST">
            <label>Title </label> <input type="text" name="title"/><br/>
            <label>Category </label>
            <select name="cat_id">
                {% for category in categories %}
                <option value="{{ category[0] }}">{{ category[1] }}</option>
                {% endfor %}
            </select><br/>
            <label>Content </label><textarea name="content" rows="6"></textarea><br/>
            <input type="submit" value="Publish!"/>
        </form>
        </article>
        <article>
            <header>
                <h2>Latest Post</h2>
            </header>
            <hr/>
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Title</th>
                        <th width="100">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        {% for p in post %}
                        <td>{{ p[0] }}</td>
                        <td>{{ p['title'] }}</td>
                        <td>
                            <a href="{{ url_for("admin.edit_post", id=p[0]) }}" class="button">Edit</a>
                            <a href="{{ url_for("admin.delete_post", id=p[0]) }}" class="button">Delete</a>
                        </td>
                        {% endfor %}
                    </tr>
                </tbody>
            </table>
        </article>
    </section>
</main>
{% endblock %}


